@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import "node_modules/materialize-css/sass/materialize";

/* Custom Scss
   ==================================================================== */
.side-nav {
  ul {
    padding-left: 10px;
  }
}

.margin-none {
  margin: 0 !important;
}

.modal {
  max-width: 45%;
}